

/* mailchimp & online orders form */
@media (max-width: 912px) {
  object{
    width: 635px;
    height: 1060px;
  }
  .section.sec-heading-2 {
    /* padding-top: 50px; */
    padding-left: 0px;
    margin-left: 30px;
  }
}











/* ipad Pro */
@media (max-width: 913px) {
  .modal-content {
    width: 74%;
  }
}

/* ipad Air */
@media (max-width: 820px){
  .modal-content {
      width: 83%;
    }
}

/* ipad mini*/
@media (max-width: 768px){
  .modal-content {
      width: 88%;
    }
}

/* Surface duo */
@media (max-width: 540px){
  object{
    width: 535px;
  }

  /* html{
    width: 540px;
  } */
  .modal-content {
    width: 90%;
  }

  .modal-content object{
    width: 435px;
  }

  .section.sec-heading-2 {
    padding-left: 0px;
    margin-left: -12px;
  }
  .navbar-brand img {
    margin-left: 15%;
  }
}








/* phones */
@media (max-width: 414px) {
  object{
      width: 410px;
      padding-right: 0px;
      padding-left: 7px;

  }
  .section.sec-heading-2 {
      padding-left: 0px;
      margin-left: -21px;
  }
  .modal-content {
    width: 100%;
    margin: 20% auto;
  }
  .modal-content object {
    width: 400px;
    margin-left: -18px;
  }
}

@media (max-width: 412px){
  .close {
    margin-right: -5px;
      margin-top: -20px;
  }

  .modal-content object {
    width: 410px;
    padding-left: 0px;
    padding-right: 12px;
    }

    .modal-content {
    width: 98%;
    margin: 20% auto;
}
  }


/* Pixel 5 */
@media (max-width: 393px) {
  .navbar-fw .navbar-header {
    margin-left: -30px;
        width: 110%;
  }
  object{
    width: 393px;
  }
  .modal-content object {
    width: 385px;
    padding-right: 6px;
  }
  .close {
    margin-right: -11px;
  }

  .section.sec-heading-2 {
      padding-left: 0px;
      margin-left: -23px;
  }
  .fadeInRight .ft-item h5 {
    padding-left: 15px;
  }
}

/* iphone 12 Pro */
@media (max-width: 390px) {
  .navbar-fw .navbar-header {
    margin-left: -33px;
    width: 112%;
}
  .modal-content object {
    width: 383px;
  }
  object{
      width: 390px;
      padding-left: 14px;

  }
  .section.sec-heading-2 {
      padding-left: 0px;
      margin-left: -23px;
  }
  .close {
    margin-right: -17px;
  }

}


/* iphone SE */
  @media (max-width: 375px){
    html{
      width: 378px;
    }
    .navbar-fw .navbar-header {
        margin-left: -31px;
        width: 111%;
    }
    .modal-content object{
      padding-left: 22px;
      padding-right: 12px;
    }
    .modal-content {
        padding: 0px;
        margin-left: 8px;
        width: 95%;
    }
    object{
      width: 375px;
      padding-right: 3px;
      padding-left: 0px;
  }

  .close {
    margin-right: 2px;
    margin-top: -8px;
}
  .section.sec-heading-2 {
      padding-left: 0px;
      margin-left: -12px;
  }
  .fadeInRight .ft-item h5 {
    padding-left: 7px;
  }
  section.container.ft-iframe-video {
      padding-bottom: 100px;
      padding-top: 100px;
  }
}

/* Galaxy S8 */
@media (max-width: 360px) {
  html {
    width: 352px;
  }
  body{
    margin-right: -2px;
    margin-left: 6px;
  }
  .section.sec-heading-2 {
      padding-left: 0px;
      margin-left: -15px;
  }
  .navbar-fw .navbar-header {
    margin-left: -24px;
    width: 110%;
  }
  .navbar-logo-dark{
    margin-right: -10px;
  }

  .modal-content object {
    width: 358px;
    padding-left: -1px;
    padding-right: 0px;
  }
  object{
    width: 342px;
    padding-top: 33px;
    padding-top: 0;
  }

  .modal-content{
    width: 98%;
    margin-top: 85px;
    margin-left: 1px;
    padding: 0;
  }
  .close{
    padding-right: 3px;
    margin-top: 5px;
  }

  .ft-x .right-align .ft-content, .ft-y .right-align .ft-content {
    width: 55%;
}

  /* photo resize for the 330x615 image */
  .col-md-offset-2 img{
    width: 100%;
    object-fit: contain;
  }

  .copyright .col-md-6{
    margin-top: 20px;
  }
}


/* Galaxy fold */
@media (max-width: 280px) {
  html{
    max-width: 280px;
  }
  body{
    margin-left: -1px;
    width: 100%;

  }
  .modal-content object{
    width: 280px;
    padding-right: 5px;
  }

  object {
    width: 282px;
    margin-left: 1px;

  }
  .modal-content {
    margin: 25% 5px;
    width: 280px;

    }

  .close {
    padding-right: 10px;
    padding-top: 10px;

  }
  .app-hero {
    margin-top: 20px;
  }
  .navbar {
      margin-top: -5px;
      min-height: 62px;
      position: fixed;
  }
  .navbar-brand img{
    margin-left: -8%;
    margin-top: 9px;
  }
  .navbar .navbar-header .navbar-brand {
    margin-left: 38px;
    margin-top: -10px;
}
 .navbar-fw .navbar-header{
    width: 280px;
  }

  .navbar .navbar-header .navbar-toggle{
    margin-right: -19px;
  }

  .section.sec-heading-2 {
      padding-left: 0px;
      margin-left: -16px;
  }

  /* photo resize for the 330x615 image */
  .col-md-offset-2 img{
    width: 100%;
    object-fit: contain;
  }

  .cta-wrapper .btn{
    width: 95%;
    padding: 10px;
  }

  /* a.btn.btn-light.btn-large.wow.fadeIn {
    width: 270px;
  } */
}
